.main-advanteges{
  border-bottom: 1px solid $mainwhite;
  background-image: none;
  position: relative;
  overflow: hidden;
  padding: 19px 0 25px 0;
  @include media($width-xs){
    padding: 29px 0 27px 0;
  }
  @include media($width-mid){
    font-size: 36.81px;
    padding: 46px 0 88px 0;
  }
  &:before {
    content: "";
    position: absolute;
    left: -5%;
    right: -5%;
    top: -5%;
    bottom: -5%;
    z-index: -1;
    display: block;
    background-image: url('img/dealbg1700.jpg');
    background-size: cover;
    width: 110%;
    height: 110%;
    filter: blur(5px);
    @include media($width-max){
      filter: none;
    }
  }

  .forwhat-title{
    color: $mainred;
    font-size: 30.72px;
    margin-bottom: 18px;
    @include media($width-xs){
      font-size: 32.73px;
    }
    @include media($width-mid){
      font-size: 66.67px;
    }
  }
  .forwhat-text{
    line-height: 19px;
    width: 100%;
    margin-bottom: 20px;
    @include media($width-xs){
       line-height: 20px;
       margin-bottom: 17px;
     }
    @include media($width-mid){
      line-height: 43px;
      margin-bottom: 48px;
    }
  }
}